*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.log


# YARD artifacts
.yardoc
_yardoc
doc/

selenium-server.log
selenium-server-standalone-2.25.0.jar

testWebsite.rb
Gemfile.lock
gem/*
*~
.redcar
