<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title><%= @title %></title>
    <meta http-equiv="Content-Type" content="text/html;  charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" href="/style.css" media="all" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><%= @title %></h1>
      </div>
      <div id="navigation">
        <ul class="menu">
            <% if session["user"] != nil %>
              <li><a href="/mytasks">My Tasks</a></li>
              <li><a href="/task/new">New Task</a></li>
              <li><a href="/logout">Logout</a></li>
            <% else %>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
            <% end %>
          </ul>
      </div>
      <div id="content">
      <div class="left">
          <%= yield %>
        </div>
      </div>
      <div id="footer">
        <%= @title %> running on
        <a href="http://maglev.gemstone.com">MagLev</a>
      </div>
    </div>
  </body>
</html>
