<h3>New Task</h3>
<form method="post" action="/newtask">
  <ul>
    <li>Task title: <input type="text" name="username" /> </li>
    <li>Due date:  <input type="text" name="password" /> </li>
    <li>Description:  <textarea name="text" rows="7" cols="50"></textarea></li>
    <li><input type="submit" value="CreateTask"></li>
  </ul>
</form>
