<h3>New Task</h3>
<form method="post" action="/newtask">
  <ul>
    <li>Task title: <input type="text" name="title" /> </li>
    <li>Due date:  <input type="text" name="dueDate" /> </li>
    <li><input type="radio" name="isCompleted" value=1> done</input>
    <input type="radio" name="isCompleted" value=0> not done</input>
    <li>Description:  <textarea name="description" rows="7" cols="50"></textarea></li>
    <li><input type="submit" value="Create Task"></li>
  </ul>
</form>
