<h3>Create a new user</h3>
<form method="post" action="/register">
    <p>Username: <input type="text" name="username" /> </p>
    <p>Password:  <input type="text" name="password" /> </p>
    <p><input type="submit" value="register"></p>
</form>

<p>Already registered? <a href="/login"> Login</a> to an existing account.</p>
